@{
    ViewData["Title"] = "MiCine - Inicio";
}

<div class="text-center mt-5">
    <h1 class="display-4">Sistema de Gestión de Películas</h1>
    <p class="lead mt-3">
        Bienvenido al sistema web para registrar, consultar y administrar películas, actores, géneros..
    </p>
</div>

<hr />

<div class="row mt-5 text-center">
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Películas</h5>
                <p class="card-text">Consulta la lista completa de películas, edita información o agrega nuevas películas.</p>
                <a asp-controller="Peliculas" asp-action="Index" class="btn btn-primary">Ver películas</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Actores</h5>
                <p class="card-text">Administra la información de los actores que participan en tus películas.</p>
                <a asp-controller="Actors" asp-action="Index" class="btn btn-primary">Ver actores</a>
            </div>
        </div>
    </div>

	<div class="col-md-4 mb-4">
		<div class="card h-100 shadow-sm">
			<div class="card-body">
				<h5 class="card-title">Directores</h5>
				<p class="card-text">Administra la información de los directores que participan en tus películas.</p>
				<a asp-controller="Directores" asp-action="Index" class="btn btn-primary">Ver directores</a>
			</div>
		</div>
	</div>

</div>
