@model Projecto.Models.PeliculaActor

@{
    ViewData["Title"] = "Registrar Película y Actor";
}

<h1>@ViewData["Title"]</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="PeliculaId" class="form-label fw-bold"></label>
                <select asp-for="PeliculaId" class="form-select" asp-items="ViewBag.PeliculaId"></select>
                <span asp-validation-for="PeliculaId" class="text-danger"></span>
            </div>

            <div class="mb-3">
				<label asp-for="ActorId" class="form-label fw-bold"></label>
                <select asp-for="ActorId" class="form-select" asp-items="ViewBag.ActorId"></select>
                <span asp-validation-for="ActorId" class="text-danger"></span>
            </div>

            <div class="mb-3">
				<label asp-for="Rol" class="form-label fw-bold"></label>
                <input asp-for="Rol" class="form-control" />
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-start gap-2">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
