@model Projecto.Models.PeliculaActor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PeliculaActor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Edit" asp-route-peliculaId="@Model.PeliculaId" asp-route-actorId="@Model.ActorId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="PeliculaId" class="control-label">Película</label>
				<select asp-for="PeliculaId" class="form-control"
						asp-items="@(ViewData["PeliculaId"] as SelectList)">
				</select>
				<span asp-validation-for="PeliculaId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="ActorId" class="control-label">Actor</label>
				<select asp-for="ActorId" class="form-control"
						asp-items="@(ViewData["ActorId"] as SelectList)">
				</select>
				<span asp-validation-for="ActorId" class="text-danger"></span>
			</div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <input asp-for="Rol" class="form-control" />
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
